.container {
    width: 400px;
    height: 400px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 25px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, button {
    width: 100%;
    height: 40px;
    font-size: small;
    outline: none;
}

button {
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input{
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.links {
    margin: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

a {
    font-size: small;
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

