<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stream Hub | A Video Streaming Platform</title>
    <link rel="stylesheet" href="/static/styles/auth.css">
    <link rel="stylesheet" href="/static/styles/universal.css">

</head>
<body>

    <div class="container">
        <h1>Login</h1>

        <div class="form">
            <input type="email" id="email-input" placeholder="Enter your email">
            <input type="password" id="password-input" placeholder="Enter your password">

            <div class="links">
                <a href=""#>Forgot password?</a>
                <a href="#">Don't have an account? Create one.</a>
            </div>

            <button id="login-btn">Login</button>
        </div>
    </div>
    
    <script src="/static/scripts/authentication/login.js"></script>
</body>
</html>