<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stream Hub | A Video Streaming Platform</title>
    <link rel="stylesheet" href="/static/styles/auth.css">
    <link rel="stylesheet" href="/static/styles/universal.css">
</head>
<body>

    <div class="container">
        <h1>Register</h1>

        <div class="form">
            <input type="email" id="email-input" placeholder="Enter your email">
            <input type="password" id="password-input" placeholder="Enter your password">
            <input type="password" id="re-type-password-input" placeholder="Re-type password">

            <div class="links">
                <a href="#">Already have an account? Log In.</a>
            </div>

            <button id="register-btn">Register</button>
        </div>
    </div>
    
    <script src="/static/scripts/authentication/register.js"></script>
</body>
</html>